*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}

body {
  background: #ece9e3;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header,
footer {
  background: #1d1c1c;
  color: #fff;
}

footer .container {
  padding-block: 32px;
}

nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  padding-block: 24px;
}

svg {
  fill: #f4e6e6;
}

.log {
  font-size: 36px;
}

nav ul {
  display: flex;
  font-size: 20px;
}

.list-space {
}

nav li + li {
  margin-left: 24px;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  /* padding-block: 24px; */
}

main {
  /* height: 100vh; */
}

footer ul {
  display: inline-flex;
}

footer .container {
  display: flex;
  justify-content: center;
}

footer p {
  margin-right: 24px;
}

footer li:first-of-type {
  margin-right: 12px;
}

.hero {
  display: grid;
}

.home .hero-bg_img{
  background-image: url(../assets/Rectangle\ 50.png);
}
.menu_ .hero-bg_img{
  background-image: url(../assets/Rectangle\ 50.png);
}

.hero-bg_img {
  /* background-image: url(../assets/coffee-beans.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  grid-area: 1/-1;
}

.hero-tagline {
  inline-size: 52ch;
  color: #e4e3e3;
  font-size: 32px;
  text-align: center;
}

.hero-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(18, 16, 16, 0.6);
  grid-area: 1/-1;
}

h1 {
  font-size: 96px;
}

.title {
  color: #fefefe;
  font-weight: 700;
  text-align: center;
  margin-bottom: 14px;
}

.menu {
  display: grid;
  grid-template-columns: minmax(200px, 450px) 655px;
  column-gap: 40px;
  max-width: 1100px;
  margin-inline: auto;
  padding-block: 110px;
}

.menu img {
  width: 100%;
}
.menu-img {
}

.menu-about {
  padding: 60px;
  background: #d9d9d9;
  /* background: red; */
}

.menu p {
  color: #000;
  font-size: 20px;
  margin-bottom: 42px;
  letter-spacing: 1.2;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 166.188%; /* 33.238px */
}

.menu h3 {
  font-size: 32px;
  margin-bottom: 32px;
  color: #e5a162;
  font-weight: 700;
}

button {
  font-size: 18px;
  font-weight: 500;
  padding-inline: 32px;
  padding-block: 16px;
  border: 2px solid #000;
}

.info {
  /* background: red; */
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 65px;
}

.info .container {
  display: flex;
}

.info .container > * {
  display: flex;
  min-width: fit-cotent;
}

.info .container > *:first-of-type {
  margin-right: 93px;
}

.info h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

.info-icon {
  box-sizing: border-box;
  width: 83px;
  height: 83px;
  background: #1d1c1c;
  border-radius: 50%;
  padding: 16px;
  margin-right: 24px;
}

.info-operating_time .info-icon {
  padding: 19px;
}

.cup-icon{
  height: 48px;
}

.drinks {
 display: flex; 
 /* justify-content: center; */
 flex-wrap: wrap;
 max-width: 1200px;
 margin: auto;
 
}

.drink{
  /* min-width: 200px; */
  background: red;
  width: max-content;
}
